[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "0.68"
uvicorn = {extras = ["standard"], version = "0.15"}
pytz = "2021.1"

[dev-packages]
pre-commit = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
